<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>회원가입 완료</title>
<style>
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

h1 {
	text-align: center;
	color: #4CAF50;
	font-size: 2.5em;
	margin: 0;
	padding: 20px;
	border: 2px solid #4CAF50;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body>
	<h1 th:text="${msg}"></h1>
</body>
</html>